/*
Syntax error: Invalid CSS after ".pre_#": expected id name, was "$i * 10"
        on line 32 of ./hive.sass

27: 
28: // SMALLER THAN TABLET LANDSCAPE
29: @media only screen and (max-width: 700px)
30:   .hive
31:     @for $i from 1 through 10
32:       .pre_#$i * 10
33:         padding-left: 0
34:       .post_#$i * 10
35:         padding-right: 0
36: 
37:     .post_25, .pre_25,.post_33, .pre_33,.post_66, .pre_66,.post_75, .pre_75

Backtrace:
./hive.sass:32
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:1085:in `expected'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:1021:in `expected'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:1003:in `expr!'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:681:in `id_selector'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:642:in `simple_selector_sequence'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:617:in `_selector'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:601:in `selector_comma_sequence'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/parser.rb:1002:in `expr!'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:253:in `visit_rule'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:109:in `block (3 levels) in visit_for'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:109:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:109:in `block (2 levels) in visit_for'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:106:in `each'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:106:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:106:in `block in visit_for'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:105:in `visit_for'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:259:in `visit_rule'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:303:in `visit_media'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:29:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:28:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:49:in `visit_root'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:20:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/tree/root_node.rb:20:in `render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/engine.rb:309:in `_render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/engine.rb:256:in `render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/plugin/compiler.rb:200:in `each'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.0.alpha.244/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \".pre_#\": expected id name, was \"$i * 10\"\A         on line 32 of ./hive.sass\A \A 27: \A 28: // SMALLER THAN TABLET LANDSCAPE\A 29: @media only screen and (max-width: 700px)\A 30:   .hive\A 31:     @for $i from 1 through 10\A 32:       .pre_#$i * 10\A 33:         padding-left: 0\A 34:       .post_#$i * 10\A 35:         padding-right: 0\A 36: \A 37:     .post_25, .pre_25,.post_33, .pre_33,.post_66, .pre_66,.post_75, .pre_75"; }
