body{
    font-family: Arial;
    font-size: 1em;
    background-image: url("bg.jpg");
    color: #000;
    padding-top: 30px;
    margin: 0;

    &:after{
        display: block;
        position: absolute;
        top: 0;
        height: 20px;
        background-color: rgba(50,50,50,0.6);
        width: 100%;
        line-height: 20px;
        color: #fff;
        font-size: 11px;
        text-align: center;
    }
}
.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8{
    background-color: rgba(#fff, 0.7);
    >section{
        padding: 10px;
    }
}


pre { background: #000; color: #fff; padding: 15px;}

.intro{
    font-size: 0.8em;
}

.the_demo_grid{
    section{
        display: block;
        border: 1px solid #ccc;
        min-height: 30px;
        font-family: Arial;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
        background-color: rgba(255,255,255,0.75);
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
}
#nested{
    .wrapper{
        padding: 10px;
        border: 1px solid green;
        background-color: rgba(#fff, 0.7);
    }
    > div{
        section, footer{
            border: 1px solid gray;
            margin: 0;
            padding: 10px;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }
    }
    .nested_cells{
        border: 1px solid red;
        padding: 10px;
        margin-bottom: 10px;
        ul{
            border: 1px solid blue;
            margin: 0;
            padding: 2px;

            li{
                >div{
                    border: 1px solid olive;
                    padding: 3px;
                }
            }
        }
    }
    .left_col, .right_col{
        border: 1px solid gray;
        padding: 10px;
        section{
        }
    }
    .left_col{
        section{
            border: 1px solid orange;
            padding: 10px;
            margin-top: 5px;
        }
    }
    ul.menu{
        border: 1px solid blue;
        margin: 0;
        padding: 2px;

        li{
            >div{
                border: 1px solid olive;
                padding: 3px;
            }
        }
    }

}
h1, h2, p{
    padding: 4px;
}
h1, h2{
    letter-spacing: -0.09em;
    margin: 0;
}
h1{
    font-size: 4.5em;
    margin: 3px;
}
footer{
    margin-top: 20px;
    padding: 10px;
}
.jumper{
    line-height: 30px;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 0px #fff;
}
/* SETTING FOR SMARTPHONES PORTRAIT AND LANDSCAPE until the browser is at a maximum of 480 */
@media only screen and (max-width: 767px){
    h1{
        font-size: 2em;
        margin: 3px;
    }

}
@media only screen and (max-width: 480px){
    body{
        &:after{
            background-color: rgba(purple, 0.75);
            content: "this design respond to SMARTPHONES landscape and portrait orientation";
        }
    }

}

/* SETTING FOR PORTRAIT TABLET until the browser is at a maximum of 1000 */
@media only screen and (min-width: 481px) and (max-width: 1000px){
    body{
        &:after{
            background-color: rgba(green, 0.75);
            content: "this design respond to TABLETS portrait orientation";
        }
    }
    h1{
        font-size: 3em;
        margin: 3px;
    }
}


/* SETTING FOR DESKTOP until the browser is between 1000px and a maximum of 1499 */
@media only screen and (min-width: 1000px) and (max-width: 1499px){
    body{
        &:after{
            background-color: rgba(red,0.75);
            content: "this design respond to DESKTOP size";
        }
    }
    .hive_12, .hive_16{
        max-width: 960px;
        margin: auto;
    }
}

/* WIDE DESKTOP OR TV */
@media screen and (min-width: 1500px) {
    body{
        &:after{
            background-color: rgba(green,0.75);
            content: "this design respond to CINEMA DISPLAY size";
        }
    }
    .hive_12, .hive_16{
        max-width: 80%;
        margin: auto;
    }
}
