/** HOVE SCSS YET ANOTHER RESPONSIVE GRID SYSTEM
 ** THX TO 960 GRID
 ** Written by Matteo Papadopoulos aka @spleenteo on twitter
 ** http://www.basictrading.biz 
 **/

// YOU CAN CHANGE SOME SETTINGS IF YOU WISH
$width: 50%;           /* set the desired fixed width in pixels or %  */
$margin: 1%;      /* set the margin between columns in % for fluid */


/*
 * WARNING: Internal variables, don't change them!
 * these are assumed to modify the margin in fixed layout
 */
$unit_12: 100% / 12;
$unit_16: 100% / 16;

.hive_12,
.hive_16 {
    @extend .clearfix;
    width: $width;
    margin-left: (100% - $width)/2;
    margin-right: (100% - $width)/2;
}
.cell_1, .cell_2, .cell_3, .cell_4, .cell_5, .cell_6, .cell_7, .cell_8, .cell_9, .cell_10, .cell_11, .cell_12, .cell_13, .cell_14, .cell_15, .cell_16 {
    display: inline;
    float: left;
    //margin-left: 0.99%;
    //margin-right: 0.99%;
}

.hive_12{
    @for $i from 1 through 12 {
      .cell_#{$i} { width: $unit_12 * $i; }
    }
}
.hive_16{
    @for $i from 1 through 16 {
      .cell_#{$i} { width: $unit_16 * $i; }
    }
}






.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix {
    display: inline-block
} * html.clearfix {
    height: 1%;
}
.clearfix {
    display: block
}








