/** HIVE SCSS YET ANOTHER RESPONSIVE GRID SYSTEM * Author Matteo Papadopoulos aka @spleenteo on twitter * http://www.cantierecreativo.net */
@media only screen and (max-width: 680px) { .hive .pre_10 { padding-left: 0; }
  .hive .post_10 { padding-right: 0; }
  .hive .pre_20 { padding-left: 0; }
  .hive .post_20 { padding-right: 0; }
  .hive .pre_30 { padding-left: 0; }
  .hive .post_30 { padding-right: 0; }
  .hive .pre_40 { padding-left: 0; }
  .hive .post_40 { padding-right: 0; }
  .hive .pre_50 { padding-left: 0; }
  .hive .post_50 { padding-right: 0; }
  .hive .pre_60 { padding-left: 0; }
  .hive .post_60 { padding-right: 0; }
  .hive .pre_70 { padding-left: 0; }
  .hive .post_70 { padding-right: 0; }
  .hive .pre_80 { padding-left: 0; }
  .hive .post_80 { padding-right: 0; }
  .hive .pre_90 { padding-left: 0; }
  .hive .post_90 { padding-right: 0; }
  .hive .pre_100 { padding-left: 0; }
  .hive .post_100 { padding-right: 0; }
  .hive .post_25, .hive .pre_25, .hive .post_33, .hive .pre_33, .hive .post_66, .hive .pre_66, .hive .post_75, .hive .pre_75 { padding: 0 !important; } }
@media only screen and (max-width: 5000px) { .hive { display: block; height: 1%; width: 100%; margin-left: 0%; margin-right: 0%; }
  .hive:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
  .hive .cell_10, .hive .cell_20, .hive .cell_25, .hive .cell_30, .hive .cell_33, .hive .cell_40, .hive .cell_50, .hive .cell_60, .hive .cell_66, .hive .cell_70, .hive .cell_75, .hive .cell_80, .hive .cell_90, .hive .cell_100 { display: inline; float: left; position: relative; }
  .hive .cell_10 { width: 10%; }
  .hive .pre_10 { padding-left: 10%; }
  .hive .post_10 { padding-right: 10%; }
  .hive .cell_20 { width: 20%; }
  .hive .pre_20 { padding-left: 20%; }
  .hive .post_20 { padding-right: 20%; }
  .hive .cell_30 { width: 30%; }
  .hive .pre_30 { padding-left: 30%; }
  .hive .post_30 { padding-right: 30%; }
  .hive .cell_40 { width: 40%; }
  .hive .pre_40 { padding-left: 40%; }
  .hive .post_40 { padding-right: 40%; }
  .hive .cell_50 { width: 50%; }
  .hive .pre_50 { padding-left: 50%; }
  .hive .post_50 { padding-right: 50%; }
  .hive .cell_60 { width: 60%; }
  .hive .pre_60 { padding-left: 60%; }
  .hive .post_60 { padding-right: 60%; }
  .hive .cell_70 { width: 70%; }
  .hive .pre_70 { padding-left: 70%; }
  .hive .post_70 { padding-right: 70%; }
  .hive .cell_80 { width: 80%; }
  .hive .pre_80 { padding-left: 80%; }
  .hive .post_80 { padding-right: 80%; }
  .hive .cell_90 { width: 90%; }
  .hive .pre_90 { padding-left: 90%; }
  .hive .post_90 { padding-right: 90%; }
  .hive .cell_100 { width: 100%; }
  .hive .pre_100 { padding-left: 100%; }
  .hive .post_100 { padding-right: 100%; }
  .hive .cell_25 { width: 25%; }
  .hive .cell_33 { width: 33.33333%; }
  .hive .cell_66 { width: 66.66667%; }
  .hive .cell_75 { width: 75%; }
  .hive .pre_25 { padding-left: 25%; }
  .hive .pre_33 { padding-left: 33.33333%; }
  .hive .pre_66 { padding-left: 66.66667%; }
  .hive .pre_75 { padding-left: 75%; }
  .hive .post_25 { padding-right: 25%; }
  .hive .post_33 { padding-right: 33.33333%; }
  .hive .post_66 { padding-right: 66.66667%; }
  .hive .post_75 { padding-right: 75%; } }
@media only screen and (max-width: 320px) { .hive .cell_10 { width: 100%; }
  .hive .cell_20 { width: 100%; }
  .hive .cell_30 { width: 100%; }
  .hive .cell_40 { width: 100%; }
  .hive .cell_50 { width: 100%; }
  .hive .cell_60 { width: 100%; }
  .hive .cell_70 { width: 100%; }
  .hive .cell_80 { width: 100%; }
  .hive .cell_90 { width: 100%; }
  .hive .cell_100 { width: 100%; }
  .hive .cell_25, .hive .cell_33, .hive .cell_66, .hive .cell_75 { width: 100%; } }
@media only screen and (max-width: 320px) and (min-width: 701px) { .hive .cell_10 { width: 50%; }
  .hive .cell_10.hived { width: 100%; }
  .hive .cell_20 { width: 50%; }
  .hive .cell_20.hived { width: 100%; }
  .hive .cell_30 { width: 50%; }
  .hive .cell_30.hived { width: 100%; }
  .hive .cell_40 { width: 50%; }
  .hive .cell_40.hived { width: 100%; }
  .hive .cell_50 { width: 50%; }
  .hive .cell_50.hived { width: 100%; }
  .hive .cell_60 { width: 50%; }
  .hive .cell_60.hived { width: 100%; }
  .hive .cell_70 { width: 50%; }
  .hive .cell_70.hived { width: 100%; }
  .hive .cell_80 { width: 50%; }
  .hive .cell_80.hived { width: 100%; }
  .hive .cell_90 { width: 50%; }
  .hive .cell_90.hived { width: 100%; } }
@media only screen and (min-width: 960px) and (max-width: 1499px) { .hive { max-width: 960px; margin: auto; } }
@media only screen and (min-width: 1500px) { .hive { max-width: 960px; margin: auto; } }
.box_1 { margin: 5px 0 0 5px; height: 150px; overflow: hidden; overflow-y: auto; position: relative; }

.box_2 { margin: 5px 0 0 5px; height: 305px; overflow: hidden; overflow-y: auto; position: relative; }

.box_3 { margin: 5px 0 0 5px; height: 460px; overflow: hidden; overflow-y: auto; position: relative; }

.box_4 { margin: 5px 0 0 5px; height: 615px; overflow: hidden; overflow-y: auto; position: relative; }

.box_5 { margin: 5px 0 0 5px; height: 770px; overflow: hidden; overflow-y: auto; position: relative; }

.box_6 { margin: 5px 0 0 5px; height: 925px; overflow: hidden; overflow-y: auto; position: relative; }

.box_7 { margin: 5px 0 0 5px; height: 1080px; overflow: hidden; overflow-y: auto; position: relative; }

.box_8 { margin: 5px 0 0 5px; height: 1235px; overflow: hidden; overflow-y: auto; position: relative; }

.box_9 { margin: 5px 0 0 5px; height: 1390px; overflow: hidden; overflow-y: auto; position: relative; }

.box_10 { margin: 5px 0 0 5px; height: 1545px; overflow: hidden; overflow-y: auto; position: relative; }
